<div class="laboratory-container hasIndicators">
  <!-- Левая панель с веществами -->
  <div class="substances-panel">
    <!-- Кислоты -->
    <div class="substance-block">
      <div class="group-header" (click)="toggleGroup('acids')">
        <h3>Кислоты</h3>
        <button [class.reverse]="!isGroupExpanded['acids']">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none">
            <path d="M18 15L12 9L6 15" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="elements-list" [class.expanded]="isGroupExpanded['acids']">
        <div class="element acid"
             *ngFor="let acid of acids"
             [class.selected]="selectedAcid?.id === acid.id"
             (click)="selectAcid(acid)">
          <app-chemical-container [element]="acid"></app-chemical-container>
          <div class="label">{{ getChemicalName(acid.chemical) }}</div>
        </div>
      </div>
    </div>

    <!-- Основания -->
    <div class="substance-block">
      <div class="group-header" (click)="toggleGroup('alkali')">
        <h3>Основания</h3>
        <button [class.reverse]="!isGroupExpanded['alkali']">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none">
            <path d="M18 15L12 9L6 15" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="elements-list" [class.expanded]="isGroupExpanded['alkali']">
        <div class="element acid"
             *ngFor="let alkali of alkalis"
             [class.selected]="selectedReagent?.id === alkali.id"
             (click)="selectReagent(alkali)">
          <app-chemical-container [element]="alkali"></app-chemical-container>
          <div class="label">{{ getChemicalName(alkali.chemical) }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Правая часть -->
  <div class="main-content">
    <!-- Результат реакции -->
    <app-reaction-result
      [reagents]="reagents"
      [result]="currentReaction.result"
      [hasIndicators]="true"
      [canChooseIndicator]="((!!selectedAcid && !selectedReagent) || (!!selectedAcid && !!selectedReagent && selectedReagent.id === 3) || (!!selectedReagent && selectedReagent.id === 3))"
      [hasImpact]="true"
      [canChooseImpact]="selectedAcid && selectedReagent && (selectedReagent?.id >= 4 && selectedReagent?.id <= 6)"
      [animating]="animating"
      [reactionCompleted]="reactionCompleted"
      [isResultAlreadyExist]="isResultAlreadyExist"
      (indicatorSelected)="selectReagent(null, $event, ChemicalType.INDICATOR)"
      (impactSelected)="selectReagent(null, $event, ChemicalType.IMPACT)"
      (reset)="resetExperiment()">
    </app-reaction-result>
  </div>
</div>
