<!-- chemistry-game.component.html -->
<div class="chemistry-game">
  <div class="header">
    <h1 [routerLink]="'/'">Химическая лаборатория</h1>
  </div>

  <div class="game-container">
    <!-- Выбор темы и подтемы -->
    <div class="topics-container">
      <div class="topics-container__container">
        <div class="topics">
          <h2>Раздел</h2>
          <menu-select-input
                        [items]="topics"
                        [selectedItem]="selectedTopic"
                        [placeholder]="'Выберите раздел'"
                        (selectItem)="onSelectTopic($event)"></menu-select-input>
        </div>
      </div>

      <div class="topics-container__container">
        <div class="subtopics" *ngIf="selectedTopic?.subtopics?.length">
          <h2>Тема</h2>
          <menu-select-input
                        [items]="selectedTopic.subtopics"
                        [selectedItem]="selectedSubtopic"
                        [placeholder]="'Выберите тему'"
                        (selectItem)="onSelectSubtopic($event)"></menu-select-input>
        </div>
      </div>
    </div>

    <!-- Область для отображения компонентов -->
    <div class="content-area" [class.experiment]="selectedSubtopic || !isEmptyRoute">
      <div class="icon" *ngIf="isEmptyRoute && !selectedSubtopic">
        <img src="assets/gifs/chemistry.gif">
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
