/* chemistry-game.component.scss */
.chemistry-game {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;

  h1 {
    cursor: pointer;
    color: #2c3e50;
    font-size: 2.5rem;
    margin: 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}

.game-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.topics-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;

  &__container {
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 3px -4px 20px rgba(0, 0, 0, 0.1);
  }

  .topics, .subtopics {
    min-width: 300px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;

    h2 {
      color: #2c3e50;
      font-size: 1.2rem;
      margin-top: 0;
      margin-bottom: 8px;
    }
  }
}

.content-area {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 2px 3px 20px rgba(0, 0, 0, 0.1);
  min-height: 400px;
  box-sizing: border-box;

  &.experiment {
    height: 620px;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  }
}
