<div class="laboratory-container">
  <!-- Левая панель с веществами -->
  <div class="substances-panel">
    <div class="substance-block">
      <div class="group-header" (click)="toggleGroup('acids')">
        <h3>Кислоты</h3>
        <button [class.reverse]="!isGroupExpanded['acids']">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none">
            <path d="M18 15L12 9L6 15" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="elements-list" [class.expanded]="isGroupExpanded['acids']">
        <div class="element acid"
             *ngFor="let acid of acids"
             [class.selected]="selectedAcid?.id === acid.id"
             (click)="selectAcid(acid)">
          <app-chemical-container [element]="acid"></app-chemical-container>
          <div class="label">{{ getChemicalName(acid.chemical) }}</div>
        </div>
      </div>
    </div>

    <div class="substance-block">
      <div class="group-header" (click)="toggleGroup('oxides')">
        <h3>Оксиды</h3>
        <button [class.reverse]="!isGroupExpanded['oxides']">
          <svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
               fill="none">
            <path d="M18 15L12 9L6 15" stroke="black" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
          </svg>
        </button>
      </div>
      <div class="elements-list" [class.expanded]="isGroupExpanded['oxides']">
        <div class="element acid"
             *ngFor="let oxide of oxides"
             [class.selected]="selectedReagent?.id === oxide.id"
             (click)="selectReagent(oxide)">
          <app-chemical-container [element]="oxide"></app-chemical-container>
          <div class="label">{{ getChemicalName(oxide.chemical) }}</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Правая часть -->
  <div class="main-content">
    <!-- Результат реакции -->
    <app-reaction-result
      [reagents]="reagents"
      [result]="currentReaction.result"
      [animating]="animating"
      [hasImpact]="true"
      [canChooseImpact]="!!selectedAcid && !!selectedReagent"
      [reactionCompleted]="reactionCompleted"
      [isResultAlreadyExist]="isResultAlreadyExist"
      (impactSelected)="selectReagent(null, $event, ChemicalType.IMPACT)"
      (reset)="resetExperiment()">
    </app-reaction-result>
  </div>
</div>
