<div class="head" (click)="changeVisability()" [ngClass]="{disabled: disabled}" #head>
  <span aria-hidden="true" class="title overflow-text" *ngIf="selectedItem">
    <div [innerHTML]="getPageTypeSvg(selectedItem)"></div>
    {{selectedItem}}
  </span>
  <span *ngIf="!selectedItem" class="placeholder">{{placeholder}}</span>
<div class="right">
  <svg [@openListArrowTriger]="listVisability? 'open' : 'close'" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 9.68787L12 15.6879L18 9.68787" stroke="#787878" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
</div>
</div>
<div @openListTriger class="body scrollbar" *ngIf="listVisability" #list>
  <ng-scrollbar [autoHeightDisabled]="false" [appearance]="'standard'">
    <div class="items">
      <span
        class="item"
        *ngFor="let item of items"
        (click)="onSelectItem(item)">
        <div [innerHTML]="getPageTypeSvg(item)"></div>
        {{item}}
      </span>
    </div>
  </ng-scrollbar>
</div>
